{#
/**
 * @file noticia.html.twig
 * Default theme implementation to present Noticia data.
 *
 * This template is used when viewing Noticia pages.
 *
 *
 * Available variables:
 * - content: A list of content items. Use 'content' to print all content, or
 * - attributes: HTML attributes for the container element.
 *
 * @see template_preprocess_noticia()
 *
 * @ingroup themeable
 */
#}
<div{{ attributes.addClass('noticia') }}>
  {% if content %}
    {{- content -}}
  {% endif %}
</div>
